<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1> <%= title %>'s Reviews.</h1>
  <a href="/">Landing Page</a><br>
  <br>
  <a href="/reviews/<%= character._id %>/new">Create a New Review</a>
  <br>
</main>

<%- include('../partials/footer') %>
