<%- include('../partials/html-head') %> <%- include('../partials/nav') %>

    <main>
      <img id="char-picture" src="/assets/png/character-avatars/<%= character.name %>.webp" alt="" />
      <h1>
        <%= title %>'s Reviews.
      </h1>
      <% if (character.reviews) { %>
        <div id="review-content">
          <% character.reviews.forEach(review=> { %>
            <div id="review-section">
              <p id="review">
                <%= review.content %>
              </p>
            </div>
            <% if (review.reviewer.equals(user?.profile._id)) { %>
              <a id="edit-icon" href="/characters/<%= character._id %>/reviews/<%= review._id %>/edit">
                <img src="https://img.icons8.com/3d-fluency/30/null/edit.png" />
              </a>
              <form id="delete-form" action="/characters/<%= character._id %>/reviews/<%= review._id %>?_method=DELETE"
                method="POST">
                <button id="delete-button">X</button>
              </form>
              <% } %>
                <% }) %>
        </div>
        <a id="new-icon" href="/characters/<%= character._id %>/reviews/new">
          <img src="https://img.icons8.com/3d-fluency/50/null/add.png" />
        </a>
        <br />
        <% } else { %>
          <h1>Be the first to add a review!</h1>
          <a id="new-icon" href="/characters/<%= character._id %>/reviews/new">
            <img src="https://img.icons8.com/3d-fluency/50/null/add.png" />
          </a>
          <% } %>
    </main>

    <%- include('../partials/footer') %>