<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1> <%= title %>'s Reviews.</h1>
  <div><% character.reviews.forEach(review => { %>
    <p> <%= review.content %> </p>
    <% if (review.reviewer.equals(user?.profile._id)) { %>
      <a href="/reviews/<%= character._id %>/<%= review._id %>/edit"><button>edit</button>
      </a>
      <form action="/reviews/<%= character._id %>/<%= review._id %>?_method=DELETE" method="POST">
        <button>X</button>
        </form>
  <% } %>
  <% }) %></div>
  <br>
  <a href="/reviews/<%= character._id %>/new">Create a New Review</a>
  <br>
</main>

<%- include('../partials/footer') %>
