<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1> <%= title %>'s Reviews.</h1>
  <div><% character.reviews.forEach(review => { %>
    <a href="/reviews/<%= character._id %>/<%= review._id %>/edit">edit</a>
      <p> <%= review.content %> </p>
      <form action="/reviews/<%= character._id %>/<%= review._id %>?_method=DELETE" method="POST">
      <button>X</button>
      </form>
  <% }) %></div>
<br>
  <a href="/reviews/<%= character._id %>/new">Create a New Review</a>
  <br>
</main>

<%- include('../partials/footer') %>
