<%- include('../partials/html-head') %> <%- include('../partials/nav') %>

    <main>
      <h1>Choose Your Character.</h1>
      <div id="grid-parent">
        <div class="grid-container">
          <% character.forEach(character=> { %>
            <div id="character-boxes">
              <a class="character-box" href="/characters/<%= character._id %>">
                <h4 id="character-name"><%= character.name %></h4>
                  <img id="char-picture" src="/assets/png/character-avatars/<%= character.name %>.webp"
                    alt="char-picture" />
              </a>
            </div>
          <% }) %>
        </div>
      </div>
    </main>

    <%- include('../partials/footer') %>