<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1>Choose Your Character.</h1>
  <a href="/">Landing Page</a><br>
  <br>
  <% characters.forEach(character => { %>
    <a href="/characters/<%= character._id %>"><%= character.name %></a>
  <% }) %>
</main>

<%- include('../partials/footer') %>






